{% extends "home.html" %}
{% load staticfiles %}
<title>{% block title %}이벤트 투게더 :: 상세보기{% endblock title %}</title>
    {% block navbar %}
        {{ block.super }}
    {% endblock navbar %}
    {% block content %}
    <div class="container">
      <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <hr>
            <div>
                <br>
                <h3>{{ object.ename }}</h3>
                <br><br>
                <h5>일시 : {{ object.estartdt }} ~ {{ object.eenddt }}</h5>
                <h5>주최자 : {{ object.ecreater }}</h5>
                <h5>현재 참여 인원 : {{ object.eculattendee }}명</h5>
                <br><br>
                <button class="btn btn-primary btn-lg btn-block" type="submit">이벤트 참가하기</button>
            </div>
        </div>
        <div class="col-md-8 order-md-1">
            <img src="/static/file/{{ object.eimage }}" class="event-detail-img">
            <hr>
            <h5>{{ object.econtent }}</h5>
            <hr>
            <a href="/events/">목록으로</a><br>
            <a href="/events/{{ object.eid }}/update/">이벤트 수정하기</a><br>
            <a href="/events/{{ object.eid }}/delete/">이벤트 삭제하기</a>
        </div>
      </div>
    </div>



    {% endblock content %}
    <!--
    이벤트 id : {{ event.eid }}<br>
    이벤트명 : {{ event.ename }}<br>
    이벤트주최자 : {{ event.ecreater }}<br>
    -->

</body>
</html>