<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>이벤트 작성</title>
</head>
<body>
    이벤트 작성하기<br>
    <form action="" method="post">
        {% csrf_token %}
        <label>이벤트명</label><input type="text" name="ename"><br>
        <label>이벤트 설명</label><textarea name="econtent"></textarea><br>
        <label>주최자</label><input type="text" name="ecreater"><br>
        <label>위치</label><input type="text" name="eloc"><br>
        <label>가격</label><input type="text" name="eprice"><br>
        <label>최대 참가 가능수</label><input type="text" name="emaxattendee"><br>
        <input type="submit" value="이벤트 만들기">
    </form>

</body>
</html>